@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  --font-sans: "Inter Tight", sans-serif;
  --font-mono: "IBM Plex Sans", sans-serif;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }

  /* Animation Utilities */
  --animate-marquee: marquee var(--duration) linear infinite;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-light-primary: var(--light-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);


  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #9b5de0;
  --light-primary: #CDB2F0;
  --primary-foreground: #ffffff;
  --secondary: #f0f0f0;
  --secondary-foreground: #442c5e;
  --muted: #f0f0f0;
  --muted-foreground: #653f8f;
  --accent: #f6eefc;
  --accent-foreground: #9b5de0;
  --destructive: #4e56c0;
  --destructive-foreground: #ffffff;
  --border: #e1e1e1;
  --input: #e1e1e1;
  --ring: #9b5de0;
  --radius: 1.4rem;
}

.dark {
  --background: #1a1a1d;
  --foreground: #ffffff;
  --primary: #9b5de0;
  --light-primary: #CDB2F0;
  --primary-foreground: #ffffff;
  --secondary: #3b3642;
  --secondary-foreground: #ffffff;
  --muted: #2f2f32;
  --muted-foreground: #909091;
  --accent: #26212e;
  --accent-foreground: #bf93ec;
  --destructive: #4e56c0;
  --destructive-foreground: #ffffff;
  --border: #454548;
  --input: #454548;
  --ring: #9b5de0;
}

/* Base styles in v4 */
@layer base {
  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 9999px;
    border: 2px solid var(--background);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--muted-foreground);
  }

  /* Firefox Support */
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--background);
  }

  .file-scrollbar::-webkit-scrollbar-thumb:hover {
    cursor: grab;
  }

  .file-scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Makes scrollbar thinner (vertical) */
    height: 2px;
    /* horizontal scrollbar height (needed!) */
  }

  .file-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .file-scrollbar::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, var(--foreground) 30%, transparent);
    border-radius: 10px;
    max-height: 5px;
  }

  /* Also apply to any generic custom scrollbar */
  .file-scrollbar::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none !important;
    appearance: none !important;
  }

}

/* Custom Utilities */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}